.layout-cuenta{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
   
    
    
   
    z-index: -1;
 
     
     
}
.cuerpo-cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(230, 220, 220);
}

.info-cuenta{
    display: flex;
    flex-direction: column;
    border: 3.5px solid rgb(81, 85, 87);
    border-radius: 4px;
    background: rgb(235, 232, 232);
    
    margin-top: 130px;
    margin-bottom: 40px;
    width: 80%;
    height: 300px;
   

}
.info-abajo{
    display: flex;
    


}
.texto-info{
    
   
    width: 100%;
    margin-bottom: 44px;

}
.titulo-info{
    font-size: 2.5rem;
    color: black;
    margin: 10px 10px 10px 10px;
    text-align: left;
    padding-left: 10px; 
}
.informacion{

    font-size: 2rem;
    color: rgb(77, 74, 74);
 
    margin-left: 15px;
    display: flex;
    align-items: center;

}
.user-icon{
    color: rgb(41, 36, 58);
    font-size: 25px;
    margin-right: 10px;
    
}
.card-icon{
    color: rgb(41, 36, 58);
    font-size: 29px;
    margin-right: 10px;
}
.cerrar-cesion{
    background-color: rgb(236, 3, 3);
    color: white;
    border-radius: 2px;
    padding: 10px 45px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
}

@media (max-width: 690px){
   .info-cuenta{
    width: 72%;
    height: 460px;
   
   }
   .info-abajo{
    display: flex;
    flex-direction: column;

   }
   
    
}
