.pagina{
    min-height: 100vh;
    background-image: url('FondoLogin.jpeg') ; 
    
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: -1;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: white;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 60%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: rgb(56, 56, 236);
    font-size: 48px;
    font-weight: 700;
}
.separador{
    width: 61px;
    height: 6px;
    background: rgb(56, 56, 236);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 80px;
    background: rgb(202, 200, 200);
    border-radius: 6px;
}
.input input{
    height: 80px;
    width: 83%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(26, 26, 29);
    font-size: 19px;
}

.link-registro{
    margin-left: 33px;
    margin-top: 27px;
    color: rgb(97, 97, 97);
    font-size: 14px;
}
.contBoton{
    display: flex;
    justify-content: center;
}
.boton-submit{
    height: 40px;
    width: 80%;
    background: rgb(56, 56, 236);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
    
}
@media (max-width: 480px){
    .container{
        width: 100%;
    }
}